<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>CODER - Creation d'une publication </title>
</head>

<body class="body-login">
<div class="btn-back-login">
    <a href="javascript:history.back()">
        <button class="Btn">
            <svg height="1.2em" class="arrow" viewBox="0 0 512 512">
                <path
                        d="M105.4 278.6c-12.5-12.5-12.5-32.8 0-45.3l192-192c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3L173.3 256l169.4 169.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0l-192-192z">
                </path>
            </svg>
            <p class="text">Revenir en arrière</p>
        </button>
    </a>
</div>
<div class="container" id="container">
    <div class="form-container sign-in">
        <form action="/treatment/create/message" method="POST">
            <% if (dataPost && dataPost.post ) { %>
                <input type="hidden" name="Id_PostAnswer"
                       value="<% if (dataPost) { %><%= dataPost.post.Id %><% } else if (dataMessage) { %><%= dataMessage.commentaire.Id_PostAnswer %><% } else { %>null<% } %>">
                <input type="hidden" name="Id_MessageAnswer"
                       value="<% if (dataMessage) { %><%= dataMessage.commentaire.Id %><% } %>">
            <% } else { %>
                <input type="hidden" name="Id_PostAnswer"
                       value="<% if (dataPost) { %><%= dataPost.post.Id %><% } else if (dataMessage) { %><%= dataMessage.commentaire[0].Id_PostAnswer %><% } else { %>null<% } %>">
                <input type="hidden" name="Id_MessageAnswer"
                       value="<% if (dataMessage) { %><%= dataMessage.commentaire[0].Id %><% } %>">
            <% } %>
            <div class="titre-form">
                <% if (dataPost && dataPost.post) { %>
                    <h1 style="text-align: center; margin-bottom: 25px; ">Reponse pour :
                        <strong><%= dataPost.post.Title %></strong></h1>
                <% } else { %>
                    <h1>Reponse pour un post / message</h1>
                <% } %>
            </div>
            <textarea name="Content" placeholder="Décris ton problème ou une solution *"
                      required oninput="autoResize(this)"></textarea>
            <button type="submit">Créer votre commentaire</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-right">
                <h1>Vous rencontrez un problème ?</h1>
                <p>N'hésitez pas à contacter le service client pour plus de renseignements !</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>