<!DOCTYPE html>
<html lang="en">

<head>
    <title>CODER</title>
    <%- include('../components/head'); %>
</head>

<body>
<%- include('../components/Pop-up-Friend'); %>
<%- include('../components/Pop-up-Follower'); %>
<%- include('../components/header', {Name: Name, PathUserLog: PathUserLog, dataTags: dataTags}); %>
<section class="section-global">
    <%- include('../components/aside', {dataTopicOwn: dataTopicOwn, dataFav: dataFav}); %>
    <section class="profil-user-global">
        <section class="info-user-global-ctn">
            <div class="img-user-global">
                <img src="<%= dataUser.utilisateur.Path %>" alt="img de profil">
            </div>
            <div class="info-user-global">
                <div class="info-user-name-email-date">
                    <div class="info-user-name-email">
                        <span><%= dataUser.utilisateur.Name %></span>
                        <span><%= dataUser.utilisateur.Email %></span>
                        <% if (Own) { %>
                            <% if (dataUser.utilisateur.Biography === null || dataUser.utilisateur.Biography.length === 0 ) { %>
                                <div class="biographie-text">
                                    <p>Ajouter une biographie</p>
                                </div>
                            <% } else { %>
                                <div class="biographie-text">
                                    <span><%= dataUser.utilisateur.Biography %></span>
                                </div>
                            <% } %>
                        <% } else { %>
                            <% if (dataUser.utilisateur.Biography === null ) { %>
                                <div class="biographie-text">
                                    <p></p>
                                </div>
                            <% } else { %>
                                <div class="biographie-text">
                                    <span><%= dataUser.utilisateur.Biography %></span>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="info-user-date">
                        <span>Membre depuis le : </span>
                        <span><%= dataUser.utilisateur.Create_at_formatted %></span>
                    </div>
                    <div class="info-user-tagsFav">
                        <div class="info-user-tagsFav">
                            <% if (dataUser.utilisateur.Tags && dataUser.utilisateur.Tags.length > 0) { %>
                                <% dataUser.utilisateur.Tags.forEach(function(tag) { %>
                                    <img src="<%= tag %>" alt="Tag Icon"/>
                                <% }); %>
                            <% } else { %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="info-user-follow-friend-global">
                    <div class="info-user-follow-friend">
                        <div class="info-user-follow">
                            <button class="btn-follow-friend" id="btnFollow">
                                <span><%= dataUser.utilisateur.Follow.length + dataUser.utilisateur.Friends.length %></span>
                                <span>followers</span>
                            </button>
                        </div>
                        <div class="info-user-friend">
                            <button class="btn-follow-friend" id="btnFriend">
                                <span><%= dataUser.utilisateur.Suivie.length + dataUser.utilisateur.Friends.length %></span>
                                <span>Suivi(e)s</span>
                            </button>
                        </div>
                    </div>
                    <div class="btn-follow-profil">
                        <% if (dataUser && PathUserLog === dataUser.utilisateur.Path) { %>
                            <% if (Own) { %>
                                <a href="/coder/profil/<%= dataUser.utilisateur.Name %>/update">
                                    <button>Modifier le profil</button>
                                </a>
                            <% } else { %>
                                <%
                                    const currentUserId = IdUserLog;
                                    const isFollowing = dataUser.utilisateur.Follow.some(follow => follow.Id == currentUserId);
                                    const isFollowedBy = dataUser.utilisateur.Suivie.some(suivie => suivie.Id == currentUserId);
                                    const isFriends = dataUser.utilisateur.Friends.some(friend => friend.Id == currentUserId)
                                %>
                                <% if (isFriends || isFollowing) { %>
                                    <a href="/treatment/follow/<%= dataUser.utilisateur.Id %>">
                                        <button class="btn-suivie">Suivi (e)</button>
                                    </a>
                                <% } else if (!isFollowing && isFollowedBy) { %>
                                    <a href="/treatment/follow/<%= dataUser.utilisateur.Id %>">
                                        <button class="btn-suivre-en-retour">Suivre en retour</button>
                                    </a>
                                <% } else { %>
                                    <a href="/treatment/follow/<%= dataUser.utilisateur.Id %>">
                                        <button class="btn-suivre">Suivre</button>
                                    </a>
                                <% } %>
                            <% } %>
                        <% } else { %>
                                <a href="/coder/login">
                                    <button class="btn-suivre">Suivre</button>
                                </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
        <section class="info-like-post-ctn">
            <div class="info-like-post-global">
                <div class="post-global">
                    <span><%= totalPosts %></span>
                    <span>Publications</span>
                </div>
                <div class="like-global">
                    <span><%= totalLikes %> </span>
                    <span>Votes</span>
                </div>
            </div>
        </section>
        <section class="info-user-biographie-ctn">
            <div class="nav-bar-user-global">
                <span class="nav-item select" id="vue-densemble">Vue d'ensembles</span>
                <span class="nav-item" id="postes">Publications</span>
                <span class="nav-item" id="commentaires">Commentaires</span>
            </div>
            <div class="content">
                <div class="vue-ensemble-btn" id="VueEnsembleCtn">
                    <% function timeAgo(date) {
                        const now = new Date();
                        const past = new Date(date);
                        const seconds = Math.floor((now - past) / 1000);

                        const intervals = {
                            annee: 31536000,
                            mois: 2592000,
                            semaine: 604800,
                            jour: 86400,
                            heure: 3600,
                            minute: 60,
                            seconde: 1
                        };

                        for (const key in intervals) {
                            const interval = intervals[key];
                            if (seconds >= interval) {
                                const count = Math.floor(seconds / interval);
                                switch (key) {
                                    case 'annee':
                                        return `il y a ${count} an${count > 1 ? 's' : ''}`;
                                    case 'mois':
                                        return `il y a ${count} mois`;
                                    case 'semaine':
                                        return `il y a ${count} semaine${count > 1 ? 's' : ''}`;
                                    case 'jour':
                                        return `il y a ${count} jour${count > 1 ? 's' : ''}`;
                                    case 'heure':
                                        return `il y a ${count} heure${count > 1 ? 's' : ''}`;
                                    case 'minute':
                                        return `il y a ${count} minute${count > 1 ? 's' : ''}`;
                                    case 'seconde':
                                        return `il y a ${count} seconde${count > 1 ? 's' : ''}`;
                                }
                            }
                        }
                        return 'à l\'instant';
                    } %>
                    <% if (dataUser.utilisateur.VueEnsemble && dataUser.utilisateur.VueEnsemble.length > 0) { %>
                        <% let hasPosts = false; %>
                        <% dataUser.utilisateur.VueEnsemble.forEach(function(item) { %>
                            <% if (item.Type === 'post') { %>
                                <%- include('../components/posts', { item: item, timeAgo: timeAgo, dataLike: dataLike }); %>
                            <% } else if (item.Type === 'message') { %>
                                <%- include('../components/messages', { item: item, timeAgo: timeAgo }); %>
                            <% } %>
                        <% }); %>
                    <% } else { %>
                        <div class="err-ctn-profil-post">
                            <p>Aucune publication est disponible.</p>
                        </div>
                    <% } %>

                </div>
                <div class="posts" id="VuePostsCtn">
                    <% if (dataUser.utilisateur.VueEnsemble && dataUser.utilisateur.VueEnsemble.length > 0) { %>
                        <% let hasPosts = false; %>
                        <% dataUser.utilisateur.VueEnsemble.forEach(function(item) { %>
                            <% if (item.Type === 'post') { %>
                                <%- include('../components/posts', { item: item, timeAgo: timeAgo }); %>
                            <% } %>
                        <% }); %>
                    <% } else { %>
                        <div class="err-ctn-profil-post">
                            <p>Aucune publication est disponible.</p>
                        </div>
                    <% } %>
                </div>
                <div class="message" id="VueMessageCtn">
                    <% if (dataUser.utilisateur.VueEnsemble && dataUser.utilisateur.VueEnsemble.length > 0) { %>
                        <% let hasMessages = false; %>
                        <% dataUser.utilisateur.VueEnsemble.forEach(function(item) { %>
                            <% if (item.Type === 'message') { %>
                                <%- include('../components/messages', { item: item, timeAgo: timeAgo }); %>
                            <% } %>
                        <% }); %>
                    <% } else { %>
                        <div class="err-ctn-profil-post">
                            <p>Aucun commentaire disponible.</p>
                        </div>
                    <% } %>
                </div>
            </div>
        </section>
    </section>
</section>
</body>

</html>
