<!DOCTYPE html>
<html lang="en">

<head>
    <title>CODER</title>
    <%- include('../components/head'); %>
</head>

<body>
<%- include('../components/header'); %>
<section class="section-global">
    <%- include('../components/aside'); %>
    <section class="profil-user-global">
        <section class="info-user-global-ctn">
            <div class="img-user-global">
                <img src="<%= dataUser.utilisateur.Path %>" alt="img de profil">
            </div>
            <div class="info-user-global">
                <div class="info-user-name-email-date">
                    <div class="info-user-name-email">
                        <span><%= dataUser.utilisateur.Name %></span>
                        <span><%= dataUser.utilisateur.Email %></span>
                    </div>
                    <div class="info-user-date">
                        <span>Membre depuis le : </span>
                        <span><%= dataUser.utilisateur.Create_at_formatted %></span>
                    </div>
                </div>
                <div class="info-user-follow-friend-global">
                    <div class="info-user-follow-friend">
                        <div class="info-user-follow">
                            <span>23</span>
                            <span>followers</span>
                        </div>
                        <div class="info-user-friend">
                            <span>2</span>
                            <span>ami(e)s</span>
                        </div>
                    </div>
                    <div class="btn-follow-profil">
                        <button>Modifier le profil</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="info-like-post-ctn">
            <div class="info-like-post-global">
                <div class="post-global">
                    <span>2</span>
                    <span>Topics</span>
                </div>
                <div class="like-global">
                    <span>158</span>
                    <span>Likes</span>
                </div>
            </div>
        </section>
        <section class="info-user-biographie-ctn">
            <div>
                <div class="info-titre">
                    <h2>Biographie</h2>
                </div>
                <% if (dataUser.utilisateur.Biography === null ) {%>
                    <div class="biographie-text">
                        <span>Ajouter une biographie</span>
                    </div>
                <%} else {%>
                    <div class="biographie-text">
                        <span><%= dataUser.utilisateur.Biography%></span>
                    </div>
                <% } %>
            </div>
            <div>
                <div class="info-titre">
                    <h2>Topics</h2>
                </div>
                <% if (dataUser.utilisateur.Topics === null ) {%>
                    <div class="biographie-text">
                        <span>Créer des topics pour qu'ils apparaissent ici !</span>
                    </div>
                <%} else {%>
                    <div class="biographie-text">
                        <span><%= dataUser.utilisateur.Topics %></span>
                    </div>
                <% } %>
            </div>
            <div>
                <div class="info-titre">
                    <h2> Langages de programmation préférés</h2>
                </div>
            </div>
        </section>
    </section>
</section>
</body>

</html>