<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>CODER - Modifier le profil</title>
</head>

<body class="body-login">
<div class="btn-back-login">
    <a href="javascript:history.back()">
        <button class="Btn">
            <svg height="1.2em" class="arrow" viewBox="0 0 512 512">
                <path d="M105.4 278.6c-12.5-12.5-12.5-32.8 0-45.3l192-192c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3L173.3 256l169.4 169.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0l-192-192z"></path>
            </svg>
            <p class="text">Revenir en arrière</p>
        </button>
    </a>
</div>
<div class="container" id="container">
    <div class="form-container sign-in">
        <form id="tags-form" action="/treatment/update/topic/<%= dataTopic.topic.Title %>" method="POST" enctype="multipart/form-data">
            <h1>Modifier le topic</h1>
            <div class="input-topic-info-update-ctn">
                <div class="input-topic-info-update-img">
                    <img id="profileImagePreview" src="<%= dataTopic.topic.TopicPath %>" alt="Topic Image" style="max-width: 100px; max-height: 100px;">
                    <input type="file" id="profileImageInput" name="TopicImage" accept="image/*">
                    <input type="hidden" value="<%= dataTopic.topic.TopicPath %>">
                </div>
                <div class="input-topic-info-update-global">
                    <input type="text" name="Title" placeholder="Nom du topic *"
                           value="<%= dataTopic.topic.Title %>" required>
                    <div class="radio-create-topic">
                        <span>Type du topic : </span>
                        <div class="radio-topic">
                            <input type="radio" id="Public" name="Status" value="Public" <% if (dataTopic.topic.Status === 'Public') {%> checked <% }; %>>
                            <label for="Public">Public</label><br>
                        </div>
                        <div class="radio-topic">
                            <input type="radio" id="Private" name="Status" value="Private" <% if (dataTopic.topic.Status === 'Private') {%> checked <% }; %>>
                            <label for="Private">Privé</label><br>
                        </div>
                        <div class="radio-topic">
                            <input type="radio" id="Private" name="Status" value="Archived" <% if (dataTopic.topic.Status === 'Archived') {%> checked <% }; %>>
                            <label for="Private">Archivé</label><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bar-suparator-post"></div>
            <div class="form-container-tags">
                <div class="form-tags-notuser">
                    <span>Vos languages favoris :</span>
                    <div id="user-tags" class="form-tags-user-img">
                        <% dataTopic.topic.Tag.forEach(function(item) {
                            const tag = dataTags.tags.find(tag => tag.Id === item.Id);
                        if (tag) { %>
                            <div class="form-tags-ctn-img" data-id="<%= tag.Id %>">
                                <img src="<%= tag.Path %>" alt="tag" onclick="removeTagFromUser(<%= tag.Id %>)">
                                <div class="form-tags-hover-remove" onclick="removeTagFromUser(<%= tag.Id %>)">
                                    <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15 9L9 15M9 9L15 15M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                              stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                              stroke-linejoin="round"/>
                                    </svg>
                                </div>
                            </div>
                        <% } %>
                        <% }); %>
                    </div>
                </div>
                <div class="form-tags-notuser">
                    <span>Ajouter vos languages Favoris :</span>
                    <div id="available-tags" class="form-tags-notuser-img">
                        <% dataTags.tags.forEach(function(item) {
                        if (!dataTopic.topic.Tag.some(tag => tag.Id === item.Id)) { %>
                            <div class="form-tags-ctn-img" data-id="<%= item.Id %>">
                                <img src="<%= item.Path %>" alt="<%= item.Label %>"
                                     onclick="addTagToUser(<%= item.Id %>)">
                                <div class="form-tags-hover-add" onclick="addTagToUser(<%= item.Id %>)">
                                    <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 8V16M8 12H16M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                              stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                              stroke-linejoin="round"/>
                                    </svg>
                                </div>
                            </div>
                        <% } %>
                        <% }); %>
                    </div>
                </div>
            </div>
            <input type="hidden" id="selected-tags" name="Tags" value="">
            <button type="button" onclick="submitForm()">Terminé</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-right">
                <h1>Vous rencontrez un problème ?</h1>
                <p>N'hésitez pas à contacter le service client pour plus de renseignements !</p>
            </div>
        </div>
    </div>
</div>

</body>

</html>
